ErrorDocument 404 https://lamp.computerstudi.es/~Dikshyant200565958/a2/er404.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule \.php$ https://lamp.computerstudi.es/~Dikshyant200565958/a2/er404.php [L]